backcall==0.1.0
click==7.1.2
decorator==4.4.2
dnspython==1.16.0
flake8==3.8.1
Flask==1.1.2
gunicorn==20.0.4
ipython==7.14.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mccabe==0.6.1
ortools==7.6.7691
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
protobuf==3.11.3
ptyprocess==0.6.0
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.6.1
pymongo==3.10.1
python-dotenv==0.13.0
six==1.14.0
traitlets==4.3.3
wcwidth==0.1.9
Werkzeug==1.0.1
yapf==0.30.0
